:root {
    --primary-bg: #242526;
    --secondary-bg: #fff;
    --primary-text-color: #555;
    --secondary-text-color: #cecece;
    --border-radius: 15px;
    --speed: 800ms;
  }
  
  ul{
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .dropdown-menu{
    position: absolute;
    top: 70px;
    right: 50px;
    background-color: #1f5156;
    border: 2px solid #ffdd40;
    border-radius: var(--border-radius) 0px;
    padding: 10px;
    width: 160px;
}

.dropdown-menu::before{
    content: '';
    position: absolute;
    top: -9px;
    right: 20px;
    height: 15px;
    width: 15px;
    border-top: 2px solid #ffdd40;
    border-left: 2px solid #ffdd40;
    background-color: #1f5156;
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
  }


  .dropdown-menu ul li{
    padding: 5px 0px;
    color: #000;
  }
  .dropdown-menu ul li a{
    padding:0px;
    color: #ffffff;
    font-size: 15px;
  }
  
  .dropdown-menu ul li:hover a{
    color: rgb(190, 177, 33);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }
  
  .dropdown-menu .dropdown-item a{
    transition: var(--speed);
  }
  