.form-container{
    background-color: rgb(230, 221, 211);
    padding: 20px ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#event-form{
    padding: 20px;
    margin: 20px ;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(76, 74, 74, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-title{
    font-size: calc(1rem + 1.2vw);
    font-weight: bold;
    margin-bottom: 20px;
}

.event-title-des-location{
    font-family:cursive;
    font-size: calc(0.6rem + 0.4vw);
}

.img-catag-date{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 10px ;
}
.image-category{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.start-date label, .end-date label,.file-upload label,.category label{
    font-size: calc(0.5rem + 0.7vw);
    margin-right: 10px;
    font-style: italic;
    font-weight: lighter;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.category select{
    padding: 3px 10px;
    border-radius: 8px;
    width: 140px;
    border: 1px solid rgb(95, 94, 94);
    font-size: calc(0.4rem + 0.8vw);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#eventStart,#eventEnd , .file-upload input, .category select{
    padding: 3px 8px;
    border-radius: 8px;
    width: 170px;
    border: 1px solid rgb(32, 31, 31);
    font-size: calc(0.5rem + 0.5vw);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.blank{
    color:black
}
.gray{
    color:rgb(191, 187, 187)
}

.submit-button{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.line
{
    width: 97%;
    margin-top: 20px;
    border: 1px solid black;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;

}
   
.submit-button button{
    border: none;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: calc(0.5rem + 0.7vw);
    /* font-weight: bold; */
    cursor: pointer;
    border-radius: 10px;
    color: white;
    padding: 10px;
}



@media screen and (max-width: 690px) {

   .form-container{
    height: 100dvh;
   }

   #eventStart, #eventEnd, .file-upload input, .category select{
    width: 150px;
    margin-left: 10px;
   }

   .image-category,.date{
    flex-wrap: wrap;
    
   }
   .img-catag-date{
    flex-direction: row;
    gap: 25px;
    align-items: space-between;
   }

}

@media screen and (max-width: 428px) {

    .form-container{
        height: 100dvh;
    }
    .img-catag-date{
        flex-wrap: wrap;
        gap: 15px;
    }
    #eventStart, #eventEnd{
        width: 130px;
        margin-left: 10px;
    }
    #eventStart, #eventEnd, .category select, .file-upload input{
        height: 20px;
        width: 115px;
    }
    .start-date label, .end-date label,.file-upload label,.category label{
        margin:0px;
        font-size: 12px;
    }
    .file-upload,.category,.start-date,.end-date{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
    }
    .image-category, .date{
        gap: 12px;
    }
      
}    

   
