.form-container{
    background-color: rgb(230, 221, 211);
    padding: 20px;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#event-form{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(76, 74, 74, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-title{
    font-size: calc(1rem + 1.2vw);
    font-weight: bold;
    margin-bottom: 20px;
}

.event-title-des-location{
    font-family:cursive;
    font-size: calc(0.6rem + 0.4vw);
}

.img-catag-date{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 9px;
}
.date,.image-category{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.start-date, .file-upload{
    width: 100%;
    margin-bottom: 1vw ;
}
.end-date, .category{
    width: 100%;
    margin-top: 0.3vw ;
}

.start-date label, .end-date label,.file-upload label,.category label{
    font-size: calc(0.5rem + 0.6vw);
    margin-right: 10px;
    font-style: italic;
    font-weight: lighter;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.category select{
    padding: 3px;
    border-radius: 8px;
    width: 200px;
    border: 1px solid rgb(95, 94, 94);
    font-size: calc(0.4rem + 0.8vw);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.start-date input, .end-date input, .file-upload input{
    padding: 3px;
    border-radius: 8px;
    width: 170px;
    border: 1px solid rgb(95, 94, 94);
    font-size: calc(0.3rem + 0.5vw);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.blank{
    color:black
}
.gray{
    color:gray
}

.submit-button{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.line
{
    width: 97%;
    margin-top: 20px;
    border: 1px solid black;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;

}
   
.submit-button button{
    border: none;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: calc(0.5rem + 0.7vw);
    /* font-weight: bold; */
    cursor: pointer;
    border-radius: 10px;
    color: white;
    padding: 10px;
}



@media screen and (max-width: 690px) {

   .form-container{
    height: 100dvh;
   }

   .start-date input, .end-date input, .file-upload input, .category select{
    width: 150px;
    margin-left: 10px;
   }

}

@media screen and (max-width: 428px) {

    .form-container{
        height: 100dvh;
    }
    .img-catag-date{
        flex-wrap: wrap;
    }
    .start-date input, .end-date input{
        width: 130px;
        margin-left: 10px;
    }
    .start-date input, .end-date input, .file-upload input, .category select{
        height: 20px;
    }
    .start-date label, .end-date label,.file-upload label,.category label{
        margin:0px;
        font-size: 13px;
    }
    .file-upload,.category,.start-date,.end-date{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .image-category{
        margin-bottom: 10px;
    }
      
}    

   
