/* EventList.css file  */
.event-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px;
  }
  
  @media (max-width: 768px) {
    .event-list {
      grid-template-columns: 1fr;
    }
  }
  