:root{
  --header-height: 2.5rem;

  /* Color Mode HSL(hue,saturation,lightness) */
  --first-color:hsl(16, 65%, 5%);
  --first-color-alt:hsl(129,44%,94%);
  --second-color:hsl(158, 85%, 35%);
  --title-color:hsl(0,0%,13%);
  --text-color:hsl(0, 0%, 100%);
  --text-color-light:hsl(60,1%,56%);
  --body-color:hsl(0,0%,100%);
  --container-color:hsl(0,0%,93%);
  --border-color:hsl(129,36%,85%);
  --boder-color-alt:hsl(113,15%,90%);

  /* ===== 1rem = 16px =====*/
  /* --body-font:'Lato', sans-serif;
  --second-font:'Dosis', sans-serif;
  --big-font-szie:3.5rem;
  --h1-font-size:2.75rem;
  --h2-font-size:2rem;
  --h3-font-size:1.75rem;
  --h4-font-size:1.375rem;
  --large-font-size:1.125rem;
  --normal-font-size:1.rem;
  --small-font-size:0.875rem;
  --smaller-font-size:0.75rem;
  --tiny-font-size:0.6875rem;

  --weight-400:400;
  --weight-500:500;
  --weight-600:600;
  --weight-700:700;

  --transition:cubic-bezier(0,0,0.05,1); */

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  /* --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem; */

   /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  /* --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem; */

}

.navbar {
  background-color: #1f5156;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  max-width: 1500px;
  position: relative;
}

.nav-logo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-items: center;
}

.nav-logo .icon {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin-left: 16px;
}

.nav-menu {
  display: flex;
  list-style: none;
  text-align: center;
  margin-right: 2rem;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.nav-item .active {
  color: #ffdd40;
  border: 1.5px solid #ffdd40;
  border-radius: 10px 0px;
}

.nav-icon {
  display: none;
  color: #f5b921;
}

.nav-icon .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 80px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  
  .nav-menu.active {
    background: #1f5156;
    top: 70px;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: #ffdd40;
    border: none;
  }
  .nav-links {
    padding:1.5rem;
    width: 100%;
    display: table;
  }

  .nav-logo .icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: #ffdd40;
  }
}
